
body {
    color: #666;
    font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 720px;
    margin: 20px;
}

.principal {
    position: relative;
    border: 1px solid #ccc;
    width: 718px;
}

.cabecera {
    width: 718px;
    height: 150px;
    background-image: url('../images/cabecera.jpg');  
}

.cabecera-foto {
     width: 64px;
     height: 64px;
     float: left;
     background-size: 64px 64px;
     margin: 80px 6px 6px 6px;
 }

.cabecera-nombre {
    font-size: 20px;
    padding: 100px 0 0px 6px;
    color: coral;
}

.partidos {
    width: 718px;
    padding: 10px 0px;
    border: none;
    background-color: #fff;
    background-image: url('../images/grass2.jpg');    
}

#partidos-centrar {
    position: relative;
    width: 526px;
    left: 50%;
    margin-left: -263px;
}

.partido {
    padding: 5px 0px;
    width: 524px;
    color: #fff;
    font-weight: bold;
    background-image: url('../images/partido.jpg');
    background-repeat: no-repeat;
    background-color: #0f4; 
}

/**
 * Clase que se le aplica a partido
 * cuando aparece el panel Comentar.
 */
.mostrandoComentario {
    background-image: url('../images/partido-alargado.jpg');
    background-repeat: repeat-y;
}

.mostrandoComentario .btnComentariosAmigos,
.mostrandoComentario .btnComentariosMejores,
.mostrandoComentario .btnComentariosRecientes {
    border: solid 1px #fff;
}

.partido-hover {
    background-image: url('../images/partido-hover.jpg');
}

.club {
    border: none;
    width: 135px;
    text-align: center;
    display: inline-block;
    color: #fff;
    
}

.resultado {
    border: none;
    width: 64px;
    display: inline;
    color: #fff;
}

.uno, .x, .dos {
    border: solid 1px #0f0;
    text-align: center;
    width: 18px;
    display: inline-block;
    color: #000;
    background-color: #fff;
    background-image: url('../images/bl-gr-bl-vertical.jpg');
    background-repeat: repeat-x;
}

.borde-rojo {
    border: solid 1px #f00;
    color: #f00;
    background-color: #fff;
}

.comentar {
    border: solid 1px #ccc;
    background-color: #fff;
    background-image: url('../images/bl-gr-bl-vertical.jpg');
    background-repeat: repeat-x;
    height: 17px;
    color: #666;
    width: 128px;
    display: inline;
}

.btnComentariosAmigos {
    text-align: center;
    border: none;
    width: 20px;
    display: inline-block;
    border: solid 1px chartreuse;
    color: #fff;
}

.btnComentariosRecientes {
    border: none;
    width: 18px;
    text-align: center;
    display: inline-block;
    border: solid 1px chartreuse;
    color: #fff;
}

.btnComentariosMejores {
    width: 18px;
    text-align: center;
    border: none;
    display: inline-block;
    border: solid 1px chartreuse;
    color: #fff;
}

.otrasSecciones {
    /*position: relative;*/
    background-color: #fff;
    height: 40px;
    width: 718px;
    /*widt: 320px;
    left: 50%;
    margin-left: -160px;
    margin-top: 10px;*/
    background-image: url('../images/otras-secciones.jpg');
    background-repeat: no-repeat;
}

.btnJornadaAnterior {
    width: 148px;
    text-align: center;
    border: solid 1px #666;
    background-color: #3f3;
    height: 24px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 206px;
    margin-top: 8px;
    color: #373;
    background-image: url('../images/bl-gr-bl-vertical.jpg');
    background-repeat: repeat;
}

.btnEstadisticas {
    width: 148px;
    text-align: center;
    border: solid 1px #666;
    background-color: #3f3;
    height: 24px;
    display: inline-block;
    margin-left: 5px;
    color: #373;
    background-image: url('../images/bl-gr-bl-vertical.jpg');
    background-repeat: repeat;
}

/* 
 * Comentarios
 */

.comentario {
     width: 522px;
     background-color: #fff;
     border: solid 1px #0c3;
}
 
 .comentario-cabecera {
     width: 522px;
     background-color: #cff;
     border-bottom: solid 1px aqua;
     height: 26px;
     color: #fff;
     
     background-image: url('../images/turquesa_vertical.jpg');
     background-repeat: repeat-x;
 }
 
 .comentario-cabecera-nombre {
     font-size: 18px;
 }
 
 .comentario-texto {
     width: 522px;
     background-color: #fff;
     color: #666;
}
 
.comentario-pie {
     width: 522px;
     height: 30px;
     background-color: #cff;
     border-top: solid 1px aqua;
     background-image: url('../images/turquesa_vertical.jpg');
     background-repeat: repeat-x;
}
 
 .votos {
     width: 80px;
     height: 20px;
     display: inline-block;
     background-color:#cff; 
     color: #666; 
     margin: 2px;
     border: solid 1px #fff;
     text-align: center;
 }

 .btnMas1, .btnMenos1 {
     width: 24px;
     display: inline-block;
     height: 20px;
     border: solid 1px #fff;
     background-color: #cff;
     color: #00f;
     text-align: center;
     margin: 2px 2px 2px 0;
     background-image: url('../images/bl-gr-bl-vertical.jpg');
     background-repeat: repeat-x;
 }
 
 /* born to die */
 .btnCompartirComentario {
     background-color: #00f;
     border: solid 1px #fff;
     color: #fff;
     width: 198px;
     height: 20px;
     display: inline-block;
     text-align: center
 }
  
.masComentariosMejores,
.masComentariosAmigos,
.masComentariosJugador,
.masComentariosRecientes,
.btnOcultarComentarios {
     display: block;
     text-align: center;
     background-color: #fff;
     width: 200px;
     color: #666;
     margin: 2px;
     height: 22px;
     background-image: url('../images/bl-gr-bl-vertical.jpg');
     background-repeat: repeat-x;
 }
 
.marcado {
     width: 24px;
     display: inline-block;
     height: 20px;
     border: solid 1px #fff;
     background-color: #cff;
     color: #00f;
     text-align: center;
     margin: 2px 2px 2px 0;
     background-image: url('../images/verde_vertical.jpg');
     background-repeat: repeat-x;
     color: #00f;
 }
 
 .comentar-panel {
     width: 520px;
 }
 
 .comentar-textarea {
    width: 498px;
    height: 300px;
    color: #666;
    margin: 10px;
    font-family: sans-serif;
    resize: none;
 }
 
 .btnPanelComentario {
     border: solid 1px #088;
     display: inline-block;
     background: #0cc;
     color: #888;
     text-align: center;
     margin-top: 5px;
     margin-bottom: 5px;
     padding-top: 6px;
     background-image: url('../images/panel-comentar.jpg');
     background-repeat: repeat-x;
}
 
.btnPanelComentario:hover {
     border: solid 1px #fff;
     color: #fff;
     font-weight: bold;
}
 
 .btnOcultarComentar {
     width: 128px;
     height: 30px;
     margin-left: 65px;
 } 
 
 .btnComentar {
     width: 198px;
     height: 30px;
     margin-left: 95px;
 }
 
 /* Usado para input.comentar */
 .visible {
     display: inline-block;
 }
 .no-visible {
     display: none;
 }
 
 
 /* Jornada anterior */

 
 .partidos-janterior {
    width: 718px;
    border: none;
    background-image: url('../images/grass.jpg');
    background-color: #fff;
}

#partidos-centrar-janterior {
    position: relative;
    width: 570px;
    left: 50%;
    margin-left: -285px;
}

.partido-janterior {
    padding: 1px;
    width: 568px;
    color: #fff;
    font-weight: bold;
}

.partido-janterior:hover {
    border: solid 1px #fff;
    background-color: #373; 
}

 .puntuacionComentarioPositiva, 
 .puntuacionPronostico {
     color: #0f0;
     width: 20px;
     display: inline-block;
     background-color: #fff;
     border: solid 1px #0f0;
     text-align: center;
 }
 
 .puntuacionComentarioNegativa {
     color: #f00;
     width: 20px;
     display: inline-block;
     background-color: #fff;
     border: solid 1px #f00;
     text-align: center;
 }
 
 .puntuacionComentarioCero, 
 .puntuacionPronosticoCero {
     color: #000;
     width: 20px;
     display: inline-block;
     background-color: #fff;
     border: solid 1px #000;
     text-align: center;
 }
 
 .resultadoSemanal {
     border: solid 1px #0c3;
     background-color: #fff;
     padding: 3px;
     width: 568px;
     color: #0c3;
     margin-top: 5px;
     margin-bottom: 20px;
 }
 
 .partido-janterior .comentar-panel {
     width: 564px;
 }
 
 .partido-janterior 
 .comentar-textarea {
     width: 562px;
     height: 300px;
     color: #666;
 }
 
 .partido-janterior
 .btnOcultarComentar {
     width: 128px;
     height: 20px;
     border: solid 1px #70cbeb;
     display: inline-block;
     background: #0cc;
     color: #fff;
     text-align: center;
     vertical-align: baseline;
     margin-left: 87px;
     margin-top: 5px;
     margin-bottom: 5px;
 } 
 
 .partido-janterior
 .btnComentar {
     width: 198px;
     height: 20px;
     border: solid 1px #70cbeb;
     margin-left: 95px;
     display: inline-block;
     background: #0cc;
     color: #fff;
     text-align: center;
     vertical-align: baseline;
     margin-right: 0px;
     margin-top: 5px;
     margin-bottom: 5px;
 }
 
 .estadisticas {
     width: 718px;
 }
 
 .estadisticas-jugador {
     width: 716px;
     border: solid 1px #ccc;
     background-color: #fff;
 }
 
 .estadisticasGlobales {
     
 }
 
 .jugador-cabecera {
     width: 706px;
     padding: 5px;
     height: 70px;
     background-color: #fff;
 }
 
 .jugador-foto {
    background-position: center 25%;
    background-repeat: no-repeat;
    background-size: 64px;
    float: left;
    width: 64px;
    height: 64px;
    overflow: hidden;
    margin-right: 2px;
}
 
 .jugador-nombre {
     color: #00f;
     float: left;
     width: 640px;
 }
 
.jugador-puntosPronostico {
     color: #666;;
     width: 200px;
     float: left;
     height: 20px;
}

.jugador-puntosComentario {
    color: #666;
    width: 200px;
    height: 20px;
    float: left;
 }


.jugador-ranking-comentario {
    width: 300px;
    float: left;
}

.jugador-ranking-pronostico {
    width: 300px;
    float: left;
 }
 
 .jugador-comentarios {
     display: block;
 }
 
 
 /* Ranking */
 

.rankingComentarios,
.rankingPronosticos{
    width: 250px;
    float: left;
    margin-left: 40px;
}
 
.ranking-jugador {
    width: 248px;
    border: solid 1px #ccc;
    position: relative;
    background-color: #fff;
}
 
.ranking-nombre {
    padding-left: 2px;
    width: 248px;
    font-size: 14px;
    color: #00f;
}

 .ranking-numero {
     width: 86px;
     height: 38px;
     color: #ccc;
     font-size: 26px;
     float: left;
    text-align: center;
    padding-top: 20px;
    vertical-align: middle;
 }
 
.ranking-foto {
    width: 64px;
    height: 64px;
    background-size: 64px 64px;
    float: left;
}
 
.ranking-puntos {
    width: 98px;
    height: 39px;
    float: left;
    color: #666;
    font-size: 26px;
    text-align: center;
    padding-top: 15px;
    vertical-align: middle;
}

.ranking-url {
    width: 248px;
    height: 20px;
    color: #00f;
    font-size: 10px;
    border-top: solid 1px #ccc;
    text-align: center;
}
 
.ranking-masJugadores {
     width: 248px;
     text-align: center;
     color: #666;
     border-top: solid 1px #666;
}
 
 
.comentario-cabecera-foto {
     width: 64px;
     height: 64px;
     float: left;
     background-size: 64px 64px;
     margin: 5px 5px 0 5px;
}
 
