
body {
    color: #666;
    font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 720px;
    margin: 20px;
}

.principal {
    position: relative;
    border: 1px solid #ccc;
    width: 718px;
}

.cabecera {
    width: 718px;
    height: 150px;
    background-image: url('../images/cabecera2.jpg');
}

.cabecera-foto {
     width: 64px;
     height: 64px;
     float: left;
     background-size: 64px 64px;
     margin: 80px 6px 6px 6px;
 }

.cabecera-nombre {
    font-size: 20px;
    padding: 100px 0 0px 6px;
    color: #999;
}

.partidos, .partidos-janterior {
    width: 718px;
    padding: 10px 0px;
    border: none;
    background-color: #d4fffc; /* Turquesa */
    background-image: url('../images/grass3.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
}

.partidos-janterior {
    display: none;
}

#partidos-centrar,
#partidos-centrar-janterior {
    position: relative;
    width: 680px;
    left: 50%;
    margin-left: -340px;
}

.partidos-texto {
    color: #180; /* Verde oscuro */
    font-size: 14px;
    margin-bottom: 8px;
}

.partido, .partido-janterior {
    padding: 2px 0 1px 0;
    width: 680px;
    /*height: 20px;*/
    color: #fff;
    font-weight: bold;
    background-image: url('../images/partido.jpg');
    background-repeat: no-repeat;
    background-color: #0f4;
}

/**
 * Clase que se le aplica a partido
 * cuando aparece el panel Comentar.
 */
.mostrandoComentario {
    background-image: url('../images/partido-alargado.jpg');
    background-repeat: repeat-y;
}

.mostrandoComentario .btnComentariosAmigos,
.mostrandoComentario .btnComentariosMejores,
.mostrandoComentario .btnComentariosRecientes {
    border: solid 1px #fff;
}

.partido-hover {
    background-image: url('../images/partido-hover.jpg');
}

.club {
    border: none;
    width: 135px;
    text-align: center;
    display: inline-block;
    color: #fff;
    cursor: default;
}

.resultado {
    border: none;
    width: 64px;
    display: inline;
    color: #fff;
}

.uno, .x, .dos {
    border: solid 1px #0f0;
    text-align: center;
    width: 18px;
    display: inline-block;
    color: #000;
    background-color: #fff;
    background-image: url('../images/bl-gr-bl-vertical.jpg');
    background-repeat: repeat-x;
}

.resultados-hover {
    background-image: url('../images/degradado-am-claro-vertical.jpg');
    background-repeat: repeat-x;
    cursor: hand;
    cursor: pointer;
}

/* ToDo: Cambiar de nombre */
.borde-rojo {
    border: solid 1px #f00;
    color: #f00;
    background-color: #fff;
}

.comentar {
    width: 128px;
    height: 18px;
    display: inline;
    border: solid 1px #ccc;
    background-color: #fff;
    background-image: url('../images/bl-gr-bl-vertical.jpg');
    background-repeat: repeat-x;
    color: #666;
    margin: 0 5px 0 0;
}

.comentar:hover {
    background-image: url('../images/degradado-am-claro-vertical.jpg');
    background-repeat: repeat-x;
}

.btnComentarios {
    display: inline;
    height: 24px;
}

.btnComentariosAmigos,
.btnComentariosRecientes,
.btnComentariosMejores {
    width: 22px;
    height: 22px;
    display: inline-block;
    border: solid 1px chartreuse;
    cursor: hand;
    cursor: pointer;
    background-repeat: no-repeat;
    color: transparent;
}


.btnComentariosAmigos {
    background-image: url('../images/amigos.png');
    margin-right: 1px;
}

.btnComentariosAmigos:hover {
    background-image: url('../images/amigos-hover.png');
    margin-right: 1px;
}

.btnComentariosRecientes {
    background-image: url('../images/recientes.png');
    margin-right: 1px;
}

.btnComentariosRecientes:hover {
    background-image: url('../images/recientes-hover.png');
    margin-right: 1px;
}

.btnComentariosMejores {
    background-image: url('../images/mejores.png');
}

.btnComentariosMejores:hover {
    background-image: url('../images/mejores-hover.png');
}

#explicacion {
    margin: 0px 2px;
}

.otrasSecciones {
    width: 718px;
    height: 80px;
    background-image: url('../images/otras-secciones.jpg');
    background-repeat: no-repeat;
}

.btnJornadaAnterior {
    width: 148px;
    height: 24px;
    text-align: center;
    border: solid 1px #666;
    display: inline-block;
    margin: 38px 5px 0 208px;
    color: #373;
    background-image: url('../images/gris-blanco-vertical.jpg');
    background-repeat: repeat;
    cursor: hand;
    cursor: pointer;
}

.btnJornadaAnterior:hover,
.btnEstadisticas:hover {
    background-image: url('../images/degradado-am-claro-vertical.jpg');
    background-repeat: repeat;
}

.btnEstadisticas {
    width: 148px;
    height: 24px;
    text-align: center;
    border: solid 1px #666;
    display: inline-block;
    margin-left: 6px;
    color: #373;
    background-image: url('../images/gris-blanco-vertical.jpg');
    background-repeat: repeat;
    cursor: hand;
    cursor: pointer;
}

/*
 * Comentarios
 */

.comentarios {
    margin: 4px 4px 0 4px;
}

.comentario {
     width: 670px;
     background-color: #fff;
     border: solid 1px #0c3; /* Azul */
}

 .comentario-cabecera {
     width: 670px;
     height: 26px;
     border-bottom: solid 1px #ccc;
     background-image: url('../images/gris-blanco-vertical.jpg');
     background-repeat: repeat-x;
 }

.comentario-cabecera-nombre {
    padding-top: 5px;
    font-size: 18px;
    color: #666;
}

 .comentario-texto {
     width: 670px;
     background-color: #fff;
     color: #aaa;
     padding: 4px 0px;
}

.comentario-pie {
     width: 670px;
     height: 30px;
     border-top: solid 1px #ccc;
     background-image: url('../images/gris-blanco-vertical.jpg');
     background-repeat: repeat-x;
}

 .votos {
     width: 80px;
     height: 20px;
     display: inline-block;
     /*background-color:#cff; */
     color: #666;
     margin: 2px;
     /*border: solid 1px #fff;*/
     text-align: center;
     cursor: default;
 }

 .btnMas1, .btnMenos1 {
     width: 24px;
     display: inline-block;
     height: 20px;
     border: solid 1px #ccc;
     background-color: #cff;
     color: #666;
     text-align: center;
     margin: 2px 2px 2px 0;
     background-image: url('../images/gris-blanco-vertical.jpg');
     background-repeat: repeat-x;
     cursor: hand;
     cursor: pointer;
 }

 .btnVotos-hover {
    background-image: url('../images/degradado-am-claro-vertical.jpg');
    background-repeat: repeat-x;
 }

 /* born to die */
 .btnCompartirComentario {
     background-color: #3b5998;
     border: solid 1px #00f;
     color: #fff;
     width: 198px;
     height: 20px;
     display: inline-block;
     text-align: center;
     cursor: hand;
     cursor: pointer;
 }

.masComentariosMejores,
.masComentariosAmigos,
.masComentariosJugador,
.masComentariosRecientes,
.btnOcultarComentarios {
     width: 198px;
     height: 22px;
     margin: 2px 2px 2px 470px;
     display: block;
     border: solid 1px #ccc;
     text-align: center;
     background-color: #fff;
     color: #666;
     background-image: url('../images/gris-blanco-vertical.jpg');
     background-repeat: repeat-x;
     cursor: hand;
     cursor: pointer;

 }

.masComentariosMejores:hover,
.masComentariosAmigos:hover,
.masComentariosJugador:hover,
.masComentariosRecientes:hover,
.btnOcultarComentarios:hover {
     background-image: url('../images/degradado-am-claro-vertical.jpg');
     background-repeat: repeat-x;
 }

.marcado {
     width: 24px;
     display: inline-block;
     height: 20px;
     border: solid 1px #ccc;
     background-color: #cff;
     color: #fff;
     text-align: center;
     margin: 2px 2px 2px 0;
     background-image: url('../images/verde_vertical.jpg');
     background-repeat: repeat-x;
 }

 .comentar-panel {
     width: 680px;
 }

 .comentar-textarea {
    width: 652px;
    height: 300px;
    color: #666;
    margin: 4px 10px 0 10px;
    font-family: sans-serif;
    resize: none;
    border: solid 1px #d4fffc;
    padding: 4px;
    border-radius: 5px;
    background-image: url('../images/bubble.jpeg');
    background-position: bottom right;
    background-repeat: no-repeat;
 }

 .btnPanelComentario {
    height: 26px;
    padding-top: 4px;
     border: solid 1px #fff;
     display: inline-block;
     color: #fff;
     text-align: center;
     margin-top: 5px;
     margin-bottom: 5px;
     background-image: url('../images/verde-vertical-30.jpg');
     background-repeat: repeat-x;
     cursor: hand;
     cursor: pointer;
}

.btnPanelComentario:hover {
     border: solid 1px #ff0;
     color: #ff0;
}

 .btnOcultarComentar {
     width: 128px;
     margin-left: 10px;
 }

 .btnComentar {
     width: 198px;
     margin-left: 332px;
 }

 /* Usado para input.comentar */
 .visible {
     display: inline-block;
 }
 .no-visible {
     display: none;
 }


 /* Jornada anterior */

 .puntuacionComentarioPositiva,
 .puntuacionPronostico {
     color: #0f0;
     width: 22px;
     height: 22px;
     display: inline-block;
     background-color: #fff;
     border: solid 1px #0f0;
     text-align: center;
 }

.puntuacionPronostico,
.puntuacionPronosticoCero {
     margin-left: 40px;
 }

 .puntuacionComentarioCero,
 .puntuacionComentarioNegativa,
 .puntuacionComentarioPositiva {
     margin-left: 4px;
 }

 .puntuacionComentarioNegativa {
     width: 22px;
     height: 22px;
     color: #f00;
     display: inline-block;
     background-color: #fff;
     border: solid 1px #f00;
     text-align: center;
 }

 .puntuacionComentarioCero,
 .puntuacionPronosticoCero {
     width: 22px;
     height: 22px;
     color: #000;
     display: inline-block;
     background-color: #fff;
     border: solid 1px #000;
     text-align: center;
 }

 .resultadoSemanal {
     border: solid 1px #0c3;
     background-color: #ffc; /* Amarillo claro */
     padding: 5px;
     width: 670px;
     color: #063;
     margin-top: 5px;
     border-radius: 5px;
 }

 .estadisticas {
     width: 718px;
 }

 .estadisticas-jugador {
     width: 718px;
 }

 /* Como tiene padding inicialmente hay que ocultar la capa */
.estadisticasGlobales {
    padding: 10px 0px 10px 89px;
    background-color: #e5fffd;
    display: none;
}

 .jugador-cabecera {
     width: 718px;
     height: 70px;
     background-color: #e5fffd;
    background-image: url('../images/gris-blanco-vertical-100.jpg');
    background-repeat: repeat-x;
 }

 .jugador-foto {
    width: 64px;
    height: 64px;
     background-repeat: no-repeat;
    background-size: 64px 64px;
    float: left;
    overflow: hidden;
    margin: 3px 5px 3px 3px;
}

 .jugador-nombre {
     float: left;
     width: 640px;
 }

 .jugador-nombre a {
     color: #00f;
 }

.jugador-nombre a:hover {
    text-decoration: none;
 }

.jugador-puntosPronostico {
     color: #666;;
     width: 200px;
     float: left;
     height: 20px;
}

.jugador-puntosComentario {
    color: #666;
    width: 200px;
    height: 20px;
    float: left;
 }

.jugador-ranking-comentario {
    width: 300px;
    float: left;
}

.jugador-ranking-pronostico {
    width: 300px;
    float: left;
 }

 .jugador-comentarios {
     display: none;
     margin: 23px;
 }

 .jugador-comentarios .comentario-texto {
     width: 662px;
     padding: 4px;
 }


 /* Ranking */


.rankingComentarios,
.rankingPronosticos{
    width: 250px;
    float: left;
    margin-right: 40px;

}

.ranking-jugador {
    width: 248px;
    border: solid 1px #ccc;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    background-image: url('../images/gris-blanco-vertical-100.jpg');
    background-repeat: repeat-x;
}

.ranking-nombre {
    padding-left: 2px;
    width: 248px;
    font-size: 14px;
    color: #000;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
}

.ranking-nombre:hover {
    text-decoration: underline;
    cursor: hand;
    cursor: pointer;
}


 .ranking-numero {
     width: 86px;
     height: 38px;
     color: #ccc;
     font-size: 26px;
     float: left;
    text-align: center;
    padding-top: 20px;
    vertical-align: middle;
 }

.ranking-foto {
    width: 64px;
    height: 64px;
    background-size: 64px 64px;
    float: left;
}

.ranking-puntos {
    width: 98px;
    height: 39px;
    float: left;
    color: #666;
    font-size: 26px;
    text-align: center;
    padding-top: 15px;
    vertical-align: middle;
}

.ranking-url {
    width: 248px;
    height: 20px;
    color: #00f;
    font-size: 10px;
    border-top: solid 1px #ccc;
    text-align: center;
}

.ranking-masJugadores {
     width: 248px;
     text-align: center;
     color: #666;
     border-top: solid 1px #666;
}

.comentario-cabecera-foto {
     width: 64px;
     height: 64px;
     float: left;
     background-size: 64px 64px;
     margin: 5px 5px 0 5px;
}

.mensaje {
    color: #fff;
    margin: 0px 10px 4px 10px;
    padding: 4px 0 0 2px;
}

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}

.mensajeFb {
    position: absolute;;
    width: 400px;
    z-index: 1;
    padding: 4px;
    border: solid 1px #ccc;
    background-color: #eee;
}

.mensajeFb .texto {
    width: 390px;
    height: 60px;
    border: solid 1px #00f;
    padding: 4px;
    font-family: sans-serif;
    resize: none;
    border-radius: 5px;
}

.mensajeFb .btnCerrar,
.mensajeFb .btnCompartir {
    border: solid 1px #ccc;
    padding: 2px 4px;
    background-color: #fff;
    color: #3b5998;
    text-align: center;
    float: right;
    margin-left: 3px;
    cursor: pointer;
    cursor: hand;
}

.mensajeFb .btnCerrar:hover,
.mensajeFb .btnCompartir:hover {
    background-color: #3b5998;
    color: #fff;
}

.mensajeFb span {
    visibility: hidden;
}