/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ysdf.css */

body {
    color: #666;
    font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 720px;
    margin: 20px;
}

.principal {
    position: relative;
    border: 1px solid #ccc;
    width: 718px;
}

.cabecera {
    width: 718px;
    height: 97px;
    background-image: url('../images/fondos2.jpg');
    background-position: 0 0;
}

.cabecera-foto {
     width: 64px;
     height: 64px;
     float: left;
     background-size: 64px 64px;
     margin: 80px 6px 6px 6px;
 }

.cabecera-nombre {
    font-size: 20px;
    padding: 80px 0 0px 6px;
    color: #999;
}

.partidos, .partidos-janterior {
    width: 718px;
    padding: 10px 0px;
    border: none;
    background-color: #d4fffc; /* Turquesa */
    background-image: url('../images/grass3.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
}

.partidos-janterior {
    display: none;
}

#partidos-centrar,
#partidos-centrar-janterior {
    position: relative;
    width: 680px;
    left: 50%;
    margin-left: -340px;
}


.partidos-texto {
    color: #180; /* Verde oscuro */
    font-size: 14px;
    margin-bottom: 8px;
}

.partido, .partido-janterior {
    padding: 2px 0 1px 0;
    width: 680px;
    color: #fff;
    font-weight: bold;
    background-repeat: repeat-x;
    background-color: #00c425;
    line-height: 20px;
}

/**
 * Clase que se le aplica a partido
 * cuando aparece el panel Comentar.
 */
.mostrandoComentario {
    background-image: url('../images/partido-alargado.jpg');
    background-repeat: repeat-y;
}

.mostrandoComentario .btnComentariosAmigos,
.mostrandoComentario .btnComentariosMejores,
.mostrandoComentario .btnComentariosRecientes {
    border: solid 1px #fff;
}

.partido-impar { background-image: url('../images/partido.jpg'); }
.partido-impar-hover { background-image: url('../images/partido-hover.jpg'); }
.partido-par { background-image: url('../images/partido2.jpg'); }
.partido-par-hover { background-image: url('../images/partido2-hover.jpg'); }

.partido-pronostico {
    width: 670px;

}

.club {
    border: none;
    width: 135px;
    text-align: center;
    display: inline-block;
    cursor: default;
    vertical-align: middle;
}

.club-pronostico {
    width: 300px;
    display: inline-block;
    color: #fff;
    text-align: center;
    border-bottom: dashed 1px #ff0;
}

.resultado {
    border: none;
    width: 64px;
    display: inline;
    color: #fff;
    vertical-align: middle;
}

.resultado-pronostico {
    width: 64px;
    display: inline;
}

.uno, .x, .dos {
    border: solid 1px #0f0;
    text-align: center;
    width: 18px;
    display: inline-block;
    color: #000;
    background-color: #fff;
    background-image: url('../images/repeatx.jpg');
    background-position: 0 0;
    background-repeat: repeat-x;
}

.resultado-pronostico .uno,
.resultado-pronostico .x,
.resultado-pronostico .dos {
    border: solid 1px #ccc;
}

.resultados-hover {
    background-color: #fff;
    background-image: url('../images/repeatx.jpg');
    background-position: 0 -134px;
    background-repeat: repeat-x;
    cursor: hand;
    cursor: pointer;
}

.borde-rojo {
    border: solid 1px #f00;
    color: #f00;
    background-color: #fff;
}

.comentar {
    width: 240px;
    height: 18px;
    display: inline;
    border: solid 1px #ccc;
    background-color: #fff;
    background-image: url('../images/repeatx.jpg');
    background-repeat: repeat-x;
    background-position: 0 0;
    color: #666;
    margin: 0 5px 0 0;
    padding-left: 2px;
    vertical-align: middle;
}

.comentar:hover {
    background-image: url('../images/repeatx.jpg');
    background-position: 0 -134px;
}

.partido-janterior .comentar {
    width: 100px;
}

.btnComentarios {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
}

.btnComentariosAmigos,
.btnComentariosRecientes,
.btnComentariosMejores {
    width: 22px;
    height: 22px;
    display: inline-block;
    border: solid 1px chartreuse;
    cursor: hand;
    cursor: pointer;
    background-repeat: no-repeat;
    color: transparent;
}


.btnComentariosAmigos {
    background-image: url('../images/botones.png');
    background-position: -23px 0;
    margin-right: 1px;
}

.btnComentariosAmigos:hover {
    background-image: url('../images/botones.png');
    background-position: 0 0;
    margin-right: 1px;
}

.btnComentariosRecientes {
    background-image: url('../images/botones.png');
    background-position: -115px 0;
    margin-right: 1px;
}

.btnComentariosRecientes:hover {
    background-image: url('../images/botones.png');
    background-position: -92px 0;
    margin-right: 1px;
}

.btnComentariosMejores {
    background-image: url('../images/botones.png');
    background-position: -69px 0;
}

.btnComentariosMejores:hover {
    background-image: url('../images/botones.png');
    background-position: -46px 0;
}

#explicacion {
    margin: 0px 2px;
    display: inline;
    vertical-align: top;
}

.otrasSecciones {
    width: 718px;
    height: 80px;
    background-image: url('../images/fondos2.jpg');
    background-position: 0 -98px;
    background-repeat: no-repeat;
}

#btnJornadaAnterior {
    width: 148px;
    height: 24px;
    text-align: center;
    border: solid 1px #666;
    display: inline-block;
    margin: 38px 5px 0 208px;
    color: #373;
    background-image: url('../images/repeatx.jpg');
    background-position: 0 -266px;
    background-repeat: repeat;
    cursor: hand;
    cursor: pointer;
}

#btnJornadaAnterior:hover,
#btnEstadisticas:hover {
    background-image: url('../images/repeatx.jpg');
    background-position: 0 -134px;
    background-repeat: repeat;
}

#btnEstadisticas {
    width: 148px;
    height: 24px;
    text-align: center;
    border: solid 1px #666;
    display: inline-block;
    margin-left: 6px;
    color: #373;
    background-image: url('../images/repeatx.jpg');
    background-position: 0 -266px;
    background-repeat: repeat;
    cursor: hand;
    cursor: pointer;
}

/*
 * Comentarios
 */

.comentarios {
    display: none;
    margin: 4px 4px 0 4px;
}

.comentario {
     width: 670px;
     background-color: #fff;
     border: solid 1px #0c3; /* Azul */
}

 .comentario-cabecera {
     width: 670px;
     height: 26px;
     border-bottom: solid 1px #ccc;
     background-image: url('../images/repeatx.jpg');
     background-position: 0 -266px;
     background-repeat: repeat-x;
 }

.comentario-cabecera-nombre {
    padding-top: 5px;
    font-size: 18px;
    color: #666;
}

 .comentario-texto {
     width: 670px;
     background-color: #fff;
     color: #aaa;
     padding: 4px 0;
}

.comentario-pie {
     width: 670px;
     height: 28px;
     border-top: solid 1px #ccc;
     background-image: url('../images/repeatx.jpg');
      background-position: 0 -266px;
     background-repeat: repeat-x;
}

.comentarios-fb {
    display: none;
}

 .votos {
     width: 80px;
     height: 20px;
     display: inline-block;
     color: #666;
     margin: 2px;
     text-align: center;
     cursor: default;
 }

 .btnMas1, .btnMenos1 {
     width: 24px;
     display: inline-block;
     height: 20px;
     border: solid 1px #ccc;
     background-color: #cff;
     color: #666;
     text-align: center;
     margin: 2px 2px 2px 0;
     background-image: url('../images/repeatx.jpg');
     background-position: 0 -266px;
     background-repeat: repeat-x;
     cursor: hand;
     cursor: pointer;
 }

 .btnVotos-hover {
    background-image: url('../images/repeatx.jpg');
    background-position: 0 -134px;
    background-repeat: repeat-x;
 }

 .btnCompartirComentario {
     background-color: #3b5998;
     border: solid 1px #00f;
     color: #fff;
     width: 198px;
     height: 20px;
     display: inline-block;
     text-align: center;
     cursor: hand;
     cursor: pointer;
 }

 .btnCompartirComentario:hover {
    background-color: #70cbeb;
 }

.masComentariosMejores,
.masComentariosAmigos,
.masComentariosJugador,
.masComentariosRecientes,
.btnOcultarComentarios,
.ranking-masJugadores {
     width: 198px;
     height: 22px;
     margin: 2px 2px 2px 470px;
     display: block;
     border: solid 1px #ccc;
     text-align: center;
     background-color: #fff;
     color: #666;
     background-image: url('../images/repeatx.jpg');
     background-position: 0 -266px;
     background-repeat: repeat-x;
     cursor: hand;
     cursor: pointer;
 }

 .ranking-masJugadores {
     margin-left: 0px;
     width: 248px;
 }

.masComentariosMejores:hover,
.masComentariosAmigos:hover,
.masComentariosJugador:hover,
.masComentariosRecientes:hover,
.btnOcultarComentarios:hover,
.ranking-masJugadores:hover {
     background-image: url('../images/repeatx.jpg');
     background-position: 0 -134px;
     background-repeat: repeat-x;
 }

.marcado {
     width: 24px;
     display: inline-block;
     height: 20px;
     border: solid 1px #ccc;
     background-color: #cff;
     color: #fff;
     text-align: center;
     margin: 2px 2px 2px 0;
     background-image: url('../images/repeatx.jpg');
     background-position: 0 -666px;
     background-repeat: repeat-x;
 }

 .comentar-panel {
     width: 680px;
 }

 .comentar-textarea {
    width: 652px;
    height: 100px;
    color: #666;
    margin: 4px 10px 0 10px;
    font-family: sans-serif;
    resize: none;
    border: solid 1px #d4fffc;
    padding: 4px;
    border-radius: 5px;
    background-image: url('../images/bubble.jpeg');
    background-position: bottom right;
    background-repeat: no-repeat;
 }

 .comentar-panel .comentarios-fb {
   margin-left: 10px;
 }

 .btnPanelComentario {
    height: 26px;
    padding-top: 4px;
     border: solid 1px #fff;
     display: inline-block;
     color: #fff;
     text-align: center;
     margin-top: 5px;
     margin-bottom: 5px;
     background-image: url('../images/repeatx.jpg');
     background-position: 0 -635px;
     background-repeat: repeat-x;
     cursor: hand;
     cursor: pointer;
}

.btnPanelComentario:hover {
     border: solid 1px #ff0;
     color: #ff0;
}

 .btnOcultarComentar {
     width: 128px;
     margin-left: 10px;
 }

.btnComentar,
.btnPublicar {
     width: 198px;
     margin-left: 332px;
 }

 /* Usado para input.comentar */
 .visible {
     display: inline-block;
 }
 .no-visible {
     display: none;
 }

 /* Jornada anterior */

.puntuacion {
     width: 22px;
     height: 22px;
     display: inline-block;
     text-align: center;
}

.puntuacionPronostico { margin-left: 40px; }
.puntuacionComentario { margin-left: 4px; }

.puntuacionNegativa {
     background-color: #fff;
     border: solid 1px #f00;
     color: #f00;
}

.puntuacionCero {
     background-color: #fff;
     border: solid 1px #000;
     color: #000;
}

.puntuacionPositiva {
     background-color: #fff;
     border: solid 1px #0f0;
     color: #0f0;
}

 .resultadoSemanal {
     border: solid 1px #0c3;
     background-color: #ffc; /* Amarillo claro */
     padding: 5px;
     width: 670px;
     color: #063;
     margin-top: 5px;
     border-radius: 5px;
 }

 .estadisticas {
     width: 718px;
 }

 .estadisticas-jugador {
     width: 718px;
 }

 /* Como tiene padding inicialmente hay que ocultar la capa */
.estadisticasGlobales {
    padding: 10px 0px 10px 87px;
    background-color: #e5fffd;
    display: none;
}

 .jugador-cabecera {
     width: 718px;
     height: 70px;
     background-color: #e5fffd;
     background-image: url('../images/repeatx.jpg');
     background-position: 0 -155px;
     background-repeat: repeat-x;
 }

 .jugador-foto {
    width: 64px;
    height: 64px;
     background-repeat: no-repeat;
    background-size: 64px 64px;
    float: left;
    overflow: hidden;
    margin: 3px 5px 3px 3px;
}

 .jugador-nombre {
     float: left;
     width: 640px;
 }

 .jugador-nombre a {
     color: #00f;
 }

.jugador-nombre a:hover {
    text-decoration: none;
 }

.jugador-puntosPronostico {
     color: #666;;
     width: 200px;
     float: left;
     height: 20px;
}

.jugador-puntosComentario {
    color: #666;
    width: 200px;
    height: 20px;
    float: left;
 }

.jugador-ranking-comentario {
    width: 300px;
    float: left;
}

.jugador-ranking-pronostico {
    width: 300px;
    float: left;
 }

 .jugador-comentarios {
     display: none;
     margin: 23px;
 }

 .jugador-comentarios .comentario {
     border: solid 1px #ccc;
 }

 .jugador-comentarios .comentario-texto {
     width: 662px;
     padding: 4px;
 }


 /* Ranking */


.rankingComentarios,
.rankingPronosticos{
    width: 250px;
    float: left;
}

.rankingComentarios-cabecera,
.rankingPronosticos-cabecera {
    width: 248px;
    height: 100px;
    margin: 5px 0px;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.rankingComentarios-cabecera {
    background-image: url('../images/ranking_comentarios.jpg');
}

.rankingPronosticos-cabecera {
    background-image: url('../images/ranking_pronosticos.jpg');
}

.rankingPronosticos {
    margin-right: 40px;
}

.ranking-jugador-pronosticos,
.ranking-jugador-comentarios {
    width: 248px;
    border: solid 1px #ccc;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    background-image: url('../images/repeatx.jpg');
    background-position: 0 -155px;
    background-repeat: repeat-x;
}

.ranking-nombre {
    padding-left: 2px;
    width: 248px;
    font-size: 14px;
    color: #000;
    border-radius: 5px;
    text-align: center;
    cursor: hand;
    cursor: pointer;
}

.ranking-nombre:hover {
    text-decoration: underline;
    cursor: hand;
    cursor: pointer;
}


 .ranking-numero {
     width: 86px;
     height: 38px;
     color: #3b5998;
     font-size: 26px;
     float: left;
    text-align: center;
    padding-top: 20px;
    vertical-align: middle;
 }

.ranking-foto {
    width: 64px;
    height: 64px;
    background-size: 64px 64px;
    float: left;
}

.ranking-puntos {
    width: 98px;
    height: 39px;
    float: left;
    color: #666;
    font-size: 26px;
    text-align: center;
    padding-top: 15px;
    vertical-align: middle;
}

.ranking-url {
    width: 248px;
    height: 20px;
    color: #00f;
    font-size: 10px;
    border-top: solid 1px #ccc;
    text-align: center;
}

.comentario-cabecera-foto {
     width: 64px;
     height: 64px;
     float: left;
     background-size: 64px 64px;
     margin: 5px 5px 0 5px;
}

.mensaje {
    color: #fff;
    margin: 0px 10px 4px 10px;
    padding: 4px 0 0 2px;
}

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}

.mensajeFb,
.mensajeInformacion {
    position: absolute;;
    width: 400px;
    z-index: 1;
    padding: 4px;
    border: solid 1px #ccc;
    background-color: #eee;
}

.mensajeFb .texto {
    width: 390px;
    height: 60px;
    border: solid 1px #3b5998;
    padding: 4px;
    font-family: sans-serif;
    resize: none;
    border-radius: 5px;
    color: #666;
}

.mensajeFb .btnCerrar,
.mensajeFb .btnCompartir {
    border: solid 1px #ccc;
    padding: 2px 4px;
    background-color: #fff;
    color: #3b5998;
    text-align: center;
    float: right;
    margin-left: 3px;
    cursor: pointer;
    cursor: hand;
}

.mensajeFb .btnCerrar:hover,
.mensajeFb .btnCompartir:hover {
    background-color: #3b5998;
    color: #fff;
}

.mensajeFb span {
    visibility: hidden;
}

#amigos {
    position: relative;
    width: 220px;
    height: 25px;
    z-index: 1;
    top: 70px;
    left: 300px;
    overflow: hidden;
    color: #666;
    border: solid 1px #eee;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-image: url('../images/gris-blanco-vertical.jpg');
    background-repeat: repeat-x;
}

#amigos:hover {
    width: 300px;
    height: 200px;
    overflow-y: scroll;
    border: solid 1px #fff;
    background-color: #eee;
    color: #000;
}

#amigos .amigo {
    background-repeat: no-repeat;
    background-size: 25px;
    height: 25px;
    padding-left: 30px;
    cursor: hand;
    cursor: pointer;
    border-bottom: solid 1px #ccc;
    background-color: #fff;
    margin-bottom: 2px;
}

#amigos .amigo:hover {
    border: solid 1px #666;
    background-color: #eee;
}

#elegirClub {
    position: absolute;
    width: 370px;
    height: 70px;
    left: 174px;
    top: 180px;
    z-index: 1;
    display: none;
    background-color: #fff;
    border: solid 1px #0c3;
    padding: 20px;
}

#elegirClub select {
    height: 25px;
    margin-left: 20px;
    margin-top: 2px;
}

#elegirClub select option {
    border: solid 1px #0c3;
}

#elegirClub .guardarClub,
#elegirClub .cerrarElegirClub {
    width: 80px;
    height: 25px;
    border: solid 1px #0c3;
    color: #0c3;
    padding: 2px;
    float: right;
    text-align: center;
    cursor: hand;
    cursor:  pointer;
}

#elegirClub .cerrarElegirClub:hover,
#elegirClub .guardarClub:hover {
    background-color: #0c3;
    color: #fff;
}

.rankingClubes {
    margin-top: 10px;
}

.ranking-club {
    width: 538px;
    border: solid 1px #ccc;
    background-color: #fff;
    border-radius: 5px;
    background-image: url('../images/repeatx.jpg');
    background-position: 0 -266px;
    background-repeat: repeat-x;
}

.ranking-club-nombre {
    width: 250px;
    display: inline-block;
    text-align: center;
    margin-left: 30px;
}

.ranking-club-puntos {
    width: 250px;
    display: inline-block;
    text-align: center;
}

.compartirRankingEnFb {
    background-color: #3b5998;
    color: #fff;
    width: 250px;
    text-align: center;
    cursor: hand;
    cursor: pointer;
}

.compartirRankingEnFb:hover {
    background-color: #70cbeb;
}

.compartirPuntuacionSemanalEnFb,
.compartirPronosticos {
    width: 130px;
    background-color: #3b5998;
    border: solid 1px #fff;
    padding: 2px 6px;
    color: #fff;
    text-align: center;
    cursor: hand;
    cursor: pointer;
}

.compartirPronosticos {
    margin-top: 5px;
    width: 260px;
}

.compartirPuntuacionSemanalEnFb:hover,
.compartirPronosticos:hover {
    background-color: #70cbeb;
}

#puntuacionDscripcion,
#infoBotonesComentarios {
    position: absolute;
    color: #666;
    background-color: #fff;
    border: solid 1px #ccc;
    z-index: 1;
    padding: 2px;
}

.oro { background-image: url("../images/repeatx.jpg");
    background-position: 0 -297px;  }
.plata { background-image: url("../images/repeatx.jpg");
    background-position: 0 -524px; }
.bronce { background-image: url("../images/repeatx.jpg");
    background-position: 0 -23px; }

.cargandoComentarios,
.cargandoEstadisticas {
    position: relative;
    display: table;
    width: 180px;
    left: 250px;
    border: solid 1px #000;
    margin: 5px 0;
    padding: 5px;
    background-color: #fff;
}

.cargandoEstadisticas {
    left: 181px;
}

.cargandoComentarios span,
.cargandoEstadisticas span {
    display: table-cell;
    width: 100%;
    margin-left: 10px;
    vertical-align: middle;
    color: #000;
    text-align: center;
}

#landingPage-superior {
    width: 670px;
    height: 140px;
    background-image: url('../images/landingpage.jpg');
    background-position: 0 -346px;
}

#landingPage-inferior {
    width: 670px;
    height: 345px;
    background-image: url('../images/landingpage.jpg');
}

#landingPage-desc {
    width:670px;
    color:#ff0;
    font-size:1.6em;
    text-align:center;
    line-height: 35px;
}

.jugador-pronostico {
    margin-left: 40px;
    width:601px;
    padding: 20px 5px 5px 85px;
    background-repeat: no-repeat;
    background-size: 64px 64px;
    height: 64px;
    color: #fff;
    font-size: 1.4em;
}